h1,
h2 {
  text-transform: capitalize;
  color: rgb(24, 211, 211);
}
.hai {
  color: yellow;
}
.mot {
  background-color: #4a4a4a;
  color: white;
}
.myred {
  color: red;
}
img.anh2 {
  width: ;
  :300px ;
  height: 300px;
}
img.anh1 {
  width: ;
  :300px ;
  height: 300px;
}
.bon {
  display: flex;
  justify-content: flex-start;
}
div.nam img {
  left: 2cm;
  width: 40px;
}
